Repository renovate-bot/GoogleCloudPlatform-_-vertex-ai-creative-studio, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel, @dkashkin, @mandieq, @LUJ20, @cnemri, @PavithraCS25, @WafaeBakkali

fix(deps): update module golang.org/x/text to v0.28.0
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-chirp3-go/go.mod
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-chirp3-go/go.sum
Owners: @ghchinoy

chore(deps): update dependency kiwisolver to v1.4.9
  experiments/veo-app/requirements.txt
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel

chore(deps): update dependency kiwisolver to v1.4.9
  experiments/veo-app/requirements.txt
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel

v.next/feat worsfold lit (#477)
  experiments/veo-app/assets/ffmpeg/ffmpeg-core.js
  experiments/veo-app/assets/ffmpeg/ffmpeg-core.worker.js
  experiments/veo-app/assets/ffmpeg/ffmpeg/package/package.json
  experiments/veo-app/assets/ffmpeg/util/package/package.json
  experiments/veo-app/components/library/__init__.py
  experiments/veo-app/components/library/infinite_scroll_library.js
  experiments/veo-app/components/library/video_chooser_button.py
  experiments/veo-app/components/library/video_infinite_scroll_library.js
  experiments/veo-app/components/library/video_infinite_scroll_library.py
  experiments/veo-app/components/pixie_compositor/README.md
  experiments/veo-app/components/pixie_compositor/pixie_compositor.js
  experiments/veo-app/components/pixie_compositor/pixie_compositor.py
  experiments/veo-app/components/worsfold_encoder/README.md
  experiments/veo-app/components/worsfold_encoder/worsfold_encoder.js
  experiments/veo-app/components/worsfold_encoder/worsfold_encoder.py
  experiments/veo-app/config/portrait_styles.py
  experiments/veo-app/developers_guide.md
  experiments/veo-app/main.py
  experiments/veo-app/pages/imagen.py
  experiments/veo-app/pages/test_index.py
  experiments/veo-app/pages/test_pixie_compositor.py
  experiments/veo-app/pages/test_worsfold_encoder.py
  experiments/veo-app/plans/DREAMVVT_WORKFLOW_PLAN.md
  experiments/veo-app/plans/PIXIE_COMPOSITOR_PLAN.md
  experiments/veo-app/plans/WEB_COMPONENT_INTEGRATION_GUIDE.md
  experiments/veo-app/test/worsfold_encoder_test/index.html
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel

v.next/feat worsfold lit (#477)
  experiments/veo-app/assets/ffmpeg/ffmpeg-core.js
  experiments/veo-app/assets/ffmpeg/ffmpeg-core.worker.js
  experiments/veo-app/assets/ffmpeg/ffmpeg/package/package.json
  experiments/veo-app/assets/ffmpeg/util/package/package.json
  experiments/veo-app/components/library/__init__.py
  experiments/veo-app/components/library/infinite_scroll_library.js
  experiments/veo-app/components/library/video_chooser_button.py
  experiments/veo-app/components/library/video_infinite_scroll_library.js
  experiments/veo-app/components/library/video_infinite_scroll_library.py
  experiments/veo-app/components/pixie_compositor/README.md
  experiments/veo-app/components/pixie_compositor/pixie_compositor.js
  experiments/veo-app/components/pixie_compositor/pixie_compositor.py
  experiments/veo-app/components/worsfold_encoder/README.md
  experiments/veo-app/components/worsfold_encoder/worsfold_encoder.js
  experiments/veo-app/components/worsfold_encoder/worsfold_encoder.py
  experiments/veo-app/config/portrait_styles.py
  experiments/veo-app/developers_guide.md
  experiments/veo-app/main.py
  experiments/veo-app/pages/imagen.py
  experiments/veo-app/pages/test_index.py
  experiments/veo-app/pages/test_pixie_compositor.py
  experiments/veo-app/pages/test_worsfold_encoder.py
  experiments/veo-app/plans/DREAMVVT_WORKFLOW_PLAN.md
  experiments/veo-app/plans/PIXIE_COMPOSITOR_PLAN.md
  experiments/veo-app/plans/WEB_COMPONENT_INTEGRATION_GUIDE.md
  experiments/veo-app/test/worsfold_encoder_test/index.html
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel

chore(deps): update dependency cachetools to v6 (#473)
  experiments/promptlandia/requirements.txt
  experiments/veo-app/requirements.txt
Owners: @ghchinoy, @dkashkin, @GoogleCloudPlatform/google-cloud-aaie, @awaemmanuel

chore(deps): update dependency cachetools to v6 (#473)
  experiments/promptlandia/requirements.txt
  experiments/veo-app/requirements.txt
Owners: @ghchinoy, @dkashkin, @GoogleCloudPlatform/google-cloud-aaie, @awaemmanuel

fix(deps): update module google.golang.org/genai to v1.19.0 (#472)
  experiments/babel/go.mod
  experiments/babel/go.sum
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-imagen-go/go.mod
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-imagen-go/go.sum
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-veo-go/go.mod
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-veo-go/go.sum
Owners: @ghchinoy

fix(deps): update module google.golang.org/genai to v1.19.0 (#472)
  experiments/babel/go.mod
  experiments/babel/go.sum
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-imagen-go/go.mod
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-imagen-go/go.sum
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-veo-go/go.mod
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-veo-go/go.sum
Owners: @ghchinoy

chore(deps): update dependency rich-toolkit to v0.15.0
  experiments/babel/app/requirements.txt
Owners: @ghchinoy

chore(deps): update dependency rich-toolkit to v0.15.0
  experiments/babel/app/requirements.txt
Owners: @ghchinoy

chore(deps): update dependency rimraf to v6
  experiments/veo-app/assets/ffmpeg/ffmpeg/package/package.json
  experiments/veo-app/assets/ffmpeg/util/package/package.json
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel

chore(deps): update dependency webpack-cli to v6
  experiments/veo-app/assets/ffmpeg/ffmpeg/package/package.json
  experiments/veo-app/assets/ffmpeg/util/package/package.json
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel

chore(deps): update typescript-eslint monorepo to v8
  experiments/veo-app/assets/ffmpeg/ffmpeg/package/package.json
  experiments/veo-app/assets/ffmpeg/util/package/package.json
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel

chore(deps): update dependency pydantic-core to v2.39.0
  experiments/arena/requirements.txt
  experiments/babel/app/requirements.txt
  experiments/mcp-genmedia/sample-agents/adk/requirements.txt
  experiments/promptlandia/requirements.txt
  experiments/veo-app/requirements.txt
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel, @dkashkin

chore(deps): update dependency pydantic-core to v2.39.0
  experiments/arena/requirements.txt
  experiments/babel/app/requirements.txt
  experiments/mcp-genmedia/sample-agents/adk/requirements.txt
  experiments/promptlandia/requirements.txt
  experiments/veo-app/requirements.txt
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel, @dkashkin

chore(deps): update dependency sqlalchemy to v2.0.43
  experiments/mcp-genmedia/sample-agents/adk/requirements.txt
Owners: @ghchinoy

chore(deps): update dependency sqlalchemy to v2.0.43
  experiments/mcp-genmedia/sample-agents/adk/requirements.txt
Owners: @ghchinoy

chore(deps): update dependency pydantic_core to v2.39.0
  experiments/promptlandia/requirements.txt
Owners: @ghchinoy, @dkashkin

chore(deps): update dependency pydantic_core to v2.39.0
  experiments/promptlandia/requirements.txt
Owners: @ghchinoy, @dkashkin

chore(deps): update dependency wrapt to v1.17.3
  experiments/babel/app/requirements.txt
  experiments/mcp-genmedia/sample-agents/adk/requirements.txt
Owners: @ghchinoy

chore(deps): update dependency wrapt to v1.17.3
  experiments/babel/app/requirements.txt
  experiments/mcp-genmedia/sample-agents/adk/requirements.txt
Owners: @ghchinoy

fix(deps): update github.com/googlecloudplatform/vertex-ai-creative-studio/experiments/mcp-genmedia/mcp-genmedia-go/mcp-common digest to 2433a9f
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-chirp3-go/go.mod
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-chirp3-go/go.sum
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-imagen-go/go.mod
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-lyria-go/go.mod
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-veo-go/go.mod
Owners: @ghchinoy

fix(deps): update github.com/googlecloudplatform/vertex-ai-creative-studio/experiments/mcp-genmedia/mcp-genmedia-go/mcp-common digest to 1c283b7
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-chirp3-go/go.mod
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-chirp3-go/go.sum
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-imagen-go/go.mod
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-lyria-go/go.mod
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-veo-go/go.mod
Owners: @ghchinoy

chore(deps): update dependency go to v1.25.0
  experiments/babel/go.mod
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-chirp3-go/go.mod
Owners: @ghchinoy

chore(deps): update dependency go to v1.25.0
  experiments/babel/go.mod
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-chirp3-go/go.mod
Owners: @ghchinoy

fix(deps): update module github.com/mark3labs/mcp-go to v0.37.0
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-avtool-go/go.mod
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-avtool-go/go.sum
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-chirp3-go/go.mod
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-chirp3-go/go.sum
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-imagen-go/go.mod
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-imagen-go/go.sum
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-lyria-go/go.mod
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-lyria-go/go.sum
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-veo-go/go.mod
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-veo-go/go.sum
Owners: @ghchinoy

fix(deps): update module github.com/mark3labs/mcp-go to v0.37.0
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-avtool-go/go.mod
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-avtool-go/go.sum
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-chirp3-go/go.mod
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-chirp3-go/go.sum
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-imagen-go/go.mod
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-imagen-go/go.sum
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-lyria-go/go.mod
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-lyria-go/go.sum
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-veo-go/go.mod
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-veo-go/go.sum
Owners: @ghchinoy

fix(deps): update module google.golang.org/api to v0.247.0
  experiments/babel/go.mod
  experiments/babel/go.sum
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-lyria-go/go.mod
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-lyria-go/go.sum
Owners: @ghchinoy

fix(deps): update module google.golang.org/api to v0.247.0
  experiments/babel/go.mod
  experiments/babel/go.sum
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-lyria-go/go.mod
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-lyria-go/go.sum
Owners: @ghchinoy

Make $PATH updates relative instead of absolute
  experiments/mcp-genmedia/mcp-genmedia-go/install.sh
Owners: @ghchinoy

Make $PATH updates relative instead of absolute
  experiments/mcp-genmedia/mcp-genmedia-go/install.sh
Owners: @ghchinoy

fix(deps): update github.com/googlecloudplatform/vertex-ai-creative-studio/experiments/mcp-genmedia/mcp-genmedia-go/mcp-common digest to bb81770
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-chirp3-go/go.mod
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-chirp3-go/go.sum
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-imagen-go/go.mod
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-lyria-go/go.mod
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-veo-go/go.mod
Owners: @ghchinoy

fix(deps): update github.com/googlecloudplatform/vertex-ai-creative-studio/experiments/mcp-genmedia/mcp-genmedia-go/mcp-common digest to a199d6a
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-chirp3-go/go.mod
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-chirp3-go/go.sum
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-imagen-go/go.mod
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-lyria-go/go.mod
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-veo-go/go.mod
Owners: @ghchinoy

chore(deps): update dependency google-api-python-client to v2.179.0
  experiments/arena/requirements.txt
  experiments/mcp-genmedia/sample-agents/adk/requirements.txt
  experiments/veo-app/requirements.txt
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel

chore(deps): update dependency google-api-python-client to v2.179.0
  experiments/arena/requirements.txt
  experiments/mcp-genmedia/sample-agents/adk/requirements.txt
  experiments/veo-app/requirements.txt
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel

fix(compositor): Finalize signed URL and local auth
  experiments/veo-app/config/imagen_models.py
  experiments/veo-app/main.py
  experiments/veo-app/pages/test_index.py
  experiments/veo-app/pages/test_pixie_compositor.py
  experiments/veo-app/pages/test_worsfold_encoder.py
  experiments/veo-app/requirements.txt
  experiments/veo-app/uv.lock
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel

fix(compositor): Finalize signed URL and local auth
  experiments/veo-app/config/imagen_models.py
  experiments/veo-app/main.py
  experiments/veo-app/pages/test_index.py
  experiments/veo-app/pages/test_pixie_compositor.py
  experiments/veo-app/pages/test_worsfold_encoder.py
  experiments/veo-app/requirements.txt
  experiments/veo-app/uv.lock
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel

feat(encoder): Implement Save to Library and UI polishing
  experiments/mcp-genmedia/.gemini/commit.txt
  experiments/mcp-genmedia/.gemini/logs.json
  experiments/mcp-genmedia/.gemini/my-test-plan.md
  experiments/veo-app/.cors-config.json
  experiments/veo-app/config/default.py
  experiments/veo-app/plans/WORSFOLD_ENCODER_PLAN.md
  recaps/weekly_recap_2025-08-08.md
  recaps/weekly_recap_2025-08-09.md
Owners: @ghchinoy, @GoogleCloudPlatform/google-cloud-aaie, @awaemmanuel

feat(encoder): Implement Save to Library and UI polishing
  experiments/mcp-genmedia/.gemini/commit.txt
  experiments/mcp-genmedia/.gemini/logs.json
  experiments/mcp-genmedia/.gemini/my-test-plan.md
  experiments/veo-app/.cors-config.json
  experiments/veo-app/config/default.py
  experiments/veo-app/plans/WORSFOLD_ENCODER_PLAN.md
  recaps/weekly_recap_2025-08-08.md
  recaps/weekly_recap_2025-08-09.md
Owners: @ghchinoy, @GoogleCloudPlatform/google-cloud-aaie, @awaemmanuel

.github/CODEOWNERS:

# Global owner
* @GoogleCloudPlatform/google-cloud-aaie @ghchinoy

## v.next
/experiments/veo-app/ @GoogleCloudPlatform/google-cloud-aaie @ghchinoy @awaemmanuel

# Experiments
/experiments/ @GoogleCloudPlatform/google-cloud-aaie @ghchinoy @awaemmanuel

## MCP Servers for Genmedia
/experiments/mcp-genmedia/ @ghchinoy

## Promptlandia
/experiments/promptlandia/ @ghchinoy @dkashkin

## Babel
/experiments/babel/ @ghchinoy

## Creative Generative Workflow
/experiments/creative-genmedia-workflow/ @GoogleCloudPlatform/google-cloud-aaie @mandieq

## Notebooks
/experiments/Imagen_Product_Recontext/ @GoogleCloudPlatform/google-cloud-aaie @LUJ20

## Veo Optimizer
/experiments/veo-genetic-prompt-optimizer/ @GoogleCloudPlatform/google-cloud-aaie @cnemri

## Character / Item Consistency
/experiments/veo3-character-consistency/ @GoogleCloudPlatform/google-cloud-aaie @cnemri
/experiments/veo3-item-consistency/ @GoogleCloudPlatform/google-cloud-aaie @PavithraCS25

## Arena
/experiments/arena/ @GoogleCloudPlatform/google-cloud-aaie @ghchinoy @awaemmanuel

## VeoStart
/experiments/VeoStart/ @GoogleCloudPlatform/google-cloud-aaie @WafaeBakkali
