Repository renovate-bot/GoogleCloudPlatform-_-vertex-ai-creative-studio, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel, @dkashkin, @mandieq, @LUJ20, @cnemri, @PavithraCS25, @WafaeBakkali

feat(encoder): Add video-to-GIF encoder and update docs
  experiments/veo-app/main.py
  experiments/veo-app/pages/test_worsfold_encoder.py
  experiments/veo-app/plans/WORSFOLD_ENCODER_PLAN.md
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel

feat(encoder): Add video-to-GIF encoder and update docs
  experiments/veo-app/main.py
  experiments/veo-app/pages/test_worsfold_encoder.py
  experiments/veo-app/plans/WORSFOLD_ENCODER_PLAN.md
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel

feat(pixie-compositor): Create foundation for Pixie Compositor
  experiments/veo-app/plans/WORSFOLD_ENCODER_PLAN.md
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel

feat(pixie-compositor): Create foundation for Pixie Compositor
  experiments/veo-app/plans/WORSFOLD_ENCODER_PLAN.md
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel

fix(compositor): Finalize signed URL and local auth
  experiments/veo-app/main.py
  experiments/veo-app/state/imagen_state.py
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel

fix(compositor): Finalize signed URL and local auth
  experiments/veo-app/main.py
  experiments/veo-app/state/imagen_state.py
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel

fix(compositor): Finalize signed URL and local auth
  experiments/.gitignore
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel

fix(compositor): Finalize signed URL and local auth
  experiments/.gitignore
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel

fix(compositor): Finalize signed URL and local auth
  experiments/veo-app/main.py
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel

fix(compositor): Finalize signed URL and local auth
  experiments/veo-app/main.py
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel

fix(compositor): Finalize signed URL and local auth
  .gitignore
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy

fix(compositor): Finalize signed URL and local auth
  .gitignore
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy

feat(encoder): Add video-to-GIF encoder and update docs
  experiments/veo-app/main.py
  experiments/veo-app/plans/WORSFOLD_ENCODER_PLAN.md
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel

feat(encoder): Add video-to-GIF encoder and update docs
  experiments/veo-app/main.py
  experiments/veo-app/plans/WORSFOLD_ENCODER_PLAN.md
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel

fix(compositor): Finalize signed URL and local auth
  experiments/mcp-genmedia/.gemini/commit.txt
  experiments/mcp-genmedia/.gemini/logs.json
  experiments/mcp-genmedia/.gemini/my-test-plan.md
Owners: @ghchinoy

fix(compositor): Finalize signed URL and local auth
  experiments/mcp-genmedia/.gemini/commit.txt
  experiments/mcp-genmedia/.gemini/logs.json
  experiments/mcp-genmedia/.gemini/my-test-plan.md
Owners: @ghchinoy

chore(deps): update dependency google-genai to v1.30.0
  experiments/arena/requirements.txt
  experiments/mcp-genmedia/sample-agents/adk/requirements.txt
  experiments/promptlandia/requirements.txt
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel, @dkashkin

chore(deps): update dependency protobuf to v6.32.0
  experiments/arena/requirements.txt
  experiments/babel/app/requirements.txt
  experiments/mcp-genmedia/sample-agents/adk/requirements.txt
  experiments/promptlandia/requirements.txt
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel, @dkashkin

fix(deps): update module google.golang.org/genai to v1.20.0
  experiments/babel/go.mod
  experiments/babel/go.sum
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-imagen-go/go.mod
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-imagen-go/go.sum
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-veo-go/go.mod
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-veo-go/go.sum
Owners: @ghchinoy

refactor: recaps
  .gitignore
  recaps/weekly_recap_2025-08-08.md
  recaps/weekly_recap_2025-08-09.md
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy

feat(imagen): Update Imagen 4 models to production
  experiments/mcp-genmedia/mcp-genmedia-go/.gitignore
  experiments/mcp-genmedia/mcp-genmedia-go/CHANGELOG.md
  experiments/mcp-genmedia/mcp-genmedia-go/go.work.sum
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-common/config.go
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-common/models.go
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-imagen-go/imagen.go
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-imagen-go/result.json
Owners: @ghchinoy

fix(deps): update module cloud.google.com/go/aiplatform to v1.99.0
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-lyria-go/go.mod
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-lyria-go/go.sum
Owners: @ghchinoy

feat(veo): Add gs:// prefix to bucket URI
  experiments/mcp-genmedia/mcp-genmedia-go/CHANGELOG.md
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-common/gcs_utils.go
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-veo-go/utils.go
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-veo-go/veo.go
Owners: @ghchinoy

feat(veo): Generate descriptive filenames for downloaded videos
  experiments/mcp-genmedia/mcp-genmedia-go/CHANGELOG.md
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-veo-go/veo.go
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-veo-go/video_logic.go
Owners: @ghchinoy

chore(deps): update dependency google-adk to v1.11.0
  experiments/mcp-genmedia/sample-agents/adk/requirements.txt
Owners: @ghchinoy

chore(deps): update dependency mcp to v1.13.0
  experiments/mcp-genmedia/sample-agents/adk/requirements.txt
Owners: @ghchinoy

chore(deps): update dependency pydantic-core to v2.39.0
  experiments/veo-app/requirements.txt
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel

chore(deps): update dependency cachetools to v6
  experiments/veo-app/requirements.txt
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel

chore(deps): update dependency deepdiff to v8
  experiments/veo-app/requirements.txt
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel

chore(deps): update dependency sse-starlette to v3
  experiments/mcp-genmedia/sample-agents/adk/requirements.txt
Owners: @ghchinoy

fix(deps): update github.com/googlecloudplatform/vertex-ai-creative-studio/experiments/mcp-genmedia/mcp-genmedia-go/mcp-common digest to ce4d7d5
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-chirp3-go/go.mod
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-chirp3-go/go.sum
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-imagen-go/go.mod
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-lyria-go/go.mod
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-veo-go/go.mod
Owners: @ghchinoy

doc: updates README to point to main branch
  experiments/veo-app/README.md
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel

adding new shop the look feature
  experiments/veo-app/common/storage.py
  experiments/veo-app/common/workflows.py
  experiments/veo-app/components/header.py
  experiments/veo-app/components/tab_nav.py
  experiments/veo-app/config/default.py
  experiments/veo-app/config/navigation.json
  experiments/veo-app/main.py
  experiments/veo-app/models/gemini.py
  experiments/veo-app/models/model_setup.py
  experiments/veo-app/models/shop_the_look_models.py
  experiments/veo-app/models/veo.py
  experiments/veo-app/models/vto.py
  experiments/veo-app/pages/shop_the_look.py
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel

chore(deps): update dependency typer to v0.16.1
  experiments/babel/app/requirements.txt
Owners: @ghchinoy

fix(deps): update github.com/googlecloudplatform/vertex-ai-creative-studio/experiments/mcp-genmedia/mcp-genmedia-go/mcp-common digest to 425beaa
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-chirp3-go/go.mod
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-chirp3-go/go.sum
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-imagen-go/go.mod
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-lyria-go/go.mod
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-veo-go/go.mod
Owners: @ghchinoy

chore(deps): update dependency requests to v2.32.5
  experiments/arena/requirements.txt
  experiments/babel/app/requirements.txt
  experiments/mcp-genmedia/sample-agents/adk/requirements.txt
  experiments/promptlandia/requirements.txt
  experiments/veo-app/requirements.txt
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel, @dkashkin

chore(deps): update dependency google-cloud-aiplatform to v1.110.0
  experiments/arena/requirements.txt
  experiments/mcp-genmedia/sample-agents/adk/requirements.txt
  experiments/veo-app/requirements.txt
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel

chore(deps): update dependency pillow to v11.3.0 [security]
  experiments/veo-genetic-prompt-optimizer/poetry.lock
Owners: @GoogleCloudPlatform/google-cloud-aaie, @cnemri

chore(deps): update dependency pandas to v2.3.1
  experiments/veo-genetic-prompt-optimizer/poetry.lock
Owners: @GoogleCloudPlatform/google-cloud-aaie, @cnemri

fix(deps): update module google.golang.org/api to v0.248.0
  experiments/babel/go.mod
  experiments/babel/go.sum
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-lyria-go/go.mod
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-lyria-go/go.sum
Owners: @ghchinoy

.github/CODEOWNERS:

# Global owner
* @GoogleCloudPlatform/google-cloud-aaie @ghchinoy

## v.next
/experiments/veo-app/ @GoogleCloudPlatform/google-cloud-aaie @ghchinoy @awaemmanuel

# Experiments
/experiments/ @GoogleCloudPlatform/google-cloud-aaie @ghchinoy @awaemmanuel

## MCP Servers for Genmedia
/experiments/mcp-genmedia/ @ghchinoy

## Promptlandia
/experiments/promptlandia/ @ghchinoy @dkashkin

## Babel
/experiments/babel/ @ghchinoy

## Creative Generative Workflow
/experiments/creative-genmedia-workflow/ @GoogleCloudPlatform/google-cloud-aaie @mandieq

## Notebooks
/experiments/Imagen_Product_Recontext/ @GoogleCloudPlatform/google-cloud-aaie @LUJ20

## Veo Optimizer
/experiments/veo-genetic-prompt-optimizer/ @GoogleCloudPlatform/google-cloud-aaie @cnemri

## Character / Item Consistency
/experiments/veo3-character-consistency/ @GoogleCloudPlatform/google-cloud-aaie @cnemri
/experiments/veo3-item-consistency/ @GoogleCloudPlatform/google-cloud-aaie @PavithraCS25

## Arena
/experiments/arena/ @GoogleCloudPlatform/google-cloud-aaie @ghchinoy @awaemmanuel

## VeoStart
/experiments/VeoStart/ @GoogleCloudPlatform/google-cloud-aaie @WafaeBakkali
