Repository renovate-bot/GoogleCloudPlatform-_-vertex-ai-creative-studio, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel, @dkashkin, @mandieq, @LUJ20, @cnemri, @PavithraCS25, @WafaeBakkali

.github/CODEOWNERS:

# Global owner
* @GoogleCloudPlatform/google-cloud-aaie @ghchinoy

## v.next
/experiments/veo-app/ @GoogleCloudPlatform/google-cloud-aaie @ghchinoy @awaemmanuel

# Experiments
/experiments/ @GoogleCloudPlatform/google-cloud-aaie @ghchinoy @awaemmanuel

## MCP Servers for Genmedia
/experiments/mcp-genmedia/ @ghchinoy

## Promptlandia
/experiments/promptlandia/ @ghchinoy @dkashkin

## Babel
/experiments/babel/ @ghchinoy

## Creative Generative Workflow
/experiments/creative-genmedia-workflow/ @GoogleCloudPlatform/google-cloud-aaie @mandieq

## Notebooks
/experiments/Imagen_Product_Recontext/ @GoogleCloudPlatform/google-cloud-aaie @LUJ20

## Veo Optimizer
/experiments/veo-genetic-prompt-optimizer/ @GoogleCloudPlatform/google-cloud-aaie @cnemri

## Character / Item Consistency
/experiments/veo3-character-consistency/ @GoogleCloudPlatform/google-cloud-aaie @cnemri
/experiments/veo3-item-consistency/ @GoogleCloudPlatform/google-cloud-aaie @PavithraCS25

## Arena
/experiments/arena/ @GoogleCloudPlatform/google-cloud-aaie @ghchinoy @awaemmanuel

## VeoStart
/experiments/VeoStart/ @GoogleCloudPlatform/google-cloud-aaie @WafaeBakkali

fix(deps): update module github.com/mark3labs/mcp-go to v0.37.0
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-avtool-go/go.mod
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-avtool-go/go.sum
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-chirp3-go/go.mod
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-chirp3-go/go.sum
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-imagen-go/go.mod
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-imagen-go/go.sum
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-lyria-go/go.mod
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-lyria-go/go.sum
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-veo-go/go.mod
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-veo-go/go.sum
Owners: @ghchinoy

chore(deps): update dependency mcp to v1.12.4
  experiments/mcp-genmedia/sample-agents/adk/requirements.txt
Owners: @ghchinoy

feat(testing): Create test page index and enhance test pages
  experiments/veo-app/GEMINI.md
  experiments/veo-app/main.py
  experiments/veo-app/pages/test_index.py
  experiments/veo-app/pages/test_infinite_scroll.py
  experiments/veo-app/pages/test_vto_prompt_generator.py
  experiments/veo-app/requirements.txt
  experiments/veo-app/uv.lock
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel

feat(testing): Create test page index and enhance test pages
  experiments/veo-app/GEMINI.md
  experiments/veo-app/main.py
  experiments/veo-app/pages/test_index.py
  experiments/veo-app/pages/test_infinite_scroll.py
  experiments/veo-app/pages/test_vto_prompt_generator.py
  experiments/veo-app/requirements.txt
  experiments/veo-app/uv.lock
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel

chore(deps): update dependency deepdiff to v8.6.0
  experiments/arena/requirements.txt
  experiments/babel/app/requirements.txt
  experiments/promptlandia/requirements.txt
  experiments/veo-app/requirements.txt
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel, @dkashkin

chore(deps): update dependency deepdiff to v8.6.0
  experiments/arena/requirements.txt
  experiments/babel/app/requirements.txt
  experiments/promptlandia/requirements.txt
  experiments/veo-app/requirements.txt
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel, @dkashkin

feat(testing): Enhance character consistency test page
  experiments/veo-app/components/stepper.py
  experiments/veo-app/config/default.py
  experiments/veo-app/main.py
  experiments/veo-app/pages/character_consistency.py
  experiments/veo-app/pages/imagen.py
  experiments/veo-app/pages/test_character_consistency.py
  experiments/veo-app/pages/test_index.py
  experiments/veo-app/pages/test_infinite_scroll.py
  experiments/veo-app/pages/veo.py
  experiments/veo-app/requirements.txt
  experiments/veo-app/uv.lock
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel

feat(testing): Enhance character consistency test page
  experiments/veo-app/components/stepper.py
  experiments/veo-app/config/default.py
  experiments/veo-app/main.py
  experiments/veo-app/pages/character_consistency.py
  experiments/veo-app/pages/imagen.py
  experiments/veo-app/pages/test_character_consistency.py
  experiments/veo-app/pages/test_index.py
  experiments/veo-app/pages/test_infinite_scroll.py
  experiments/veo-app/pages/veo.py
  experiments/veo-app/requirements.txt
  experiments/veo-app/uv.lock
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel

chore(deps): update dependency pydantic-core to v2.38.0
  experiments/veo-app/requirements.txt
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel

feat(testing): Enhance character consistency test page
  experiments/veo-app/pages/test_character_consistency.py
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel

feat(testing): Enhance character consistency test page
  experiments/veo-app/pages/test_character_consistency.py
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel

chore(deps): update dependency charset-normalizer to v3.4.3
  experiments/arena/requirements.txt
  experiments/babel/app/requirements.txt
  experiments/mcp-genmedia/sample-agents/adk/requirements.txt
  experiments/promptlandia/requirements.txt
  experiments/veo-app/requirements.txt
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel, @dkashkin

chore(deps): update dependency charset-normalizer to v3.4.3
  experiments/arena/requirements.txt
  experiments/babel/app/requirements.txt
  experiments/mcp-genmedia/sample-agents/adk/requirements.txt
  experiments/promptlandia/requirements.txt
  experiments/veo-app/requirements.txt
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel, @dkashkin

feat(character_consistency): enhance video prompt and show analysis status
  experiments/veo-app/config/about_content.json
  experiments/veo-app/config/default.py
  experiments/veo-app/main.py
  experiments/veo-app/models/character_consistency.py
  experiments/veo-app/models/gemini.py
  experiments/veo-app/pages/test_character_consistency.py
  experiments/veo-app/pages/test_gemini_image_gen.py
  experiments/veo-app/pages/test_index.py
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel

feat(character_consistency): enhance video prompt and show analysis status
  experiments/veo-app/config/about_content.json
  experiments/veo-app/config/default.py
  experiments/veo-app/main.py
  experiments/veo-app/models/character_consistency.py
  experiments/veo-app/models/gemini.py
  experiments/veo-app/pages/test_character_consistency.py
  experiments/veo-app/pages/test_gemini_image_gen.py
  experiments/veo-app/pages/test_index.py
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel

chore(deps): update dependency google-cloud-aiplatform to v1.108.0
  experiments/arena/requirements.txt
  experiments/mcp-genmedia/sample-agents/adk/requirements.txt
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel

feat(v.next): enhance motion portraits
  experiments/veo-app/config/__init__.py
  experiments/veo-app/config/portrait_styles.py
  experiments/veo-app/pages/character_consistency.py
  experiments/veo-app/pages/portraits.py
  experiments/veo-app/pages/test_character_consistency.py
  experiments/veo-app/plans/MOTION_PORTRAITS_REFACTOR_PLAN.md
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel

feat(v.next): enhance motion portraits
  experiments/veo-app/config/__init__.py
  experiments/veo-app/config/portrait_styles.py
  experiments/veo-app/pages/character_consistency.py
  experiments/veo-app/pages/portraits.py
  experiments/veo-app/pages/test_character_consistency.py
  experiments/veo-app/plans/MOTION_PORTRAITS_REFACTOR_PLAN.md
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel

feat(portraits): Add dynamic VEO model selection and grid layout
  experiments/veo-app/pages/portraits.py
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel

feat(portraits): Add dynamic VEO model selection and grid layout
  experiments/veo-app/pages/portraits.py
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel

refactor(v.next): adjustments to qol
  experiments/veo-app/config/portrait_styles.py
  experiments/veo-app/pages/portraits.py
  experiments/veo-app/plans/MOTION_PORTRAITS_REFACTOR_PLAN.md
  experiments/veo-app/requirements.txt
  experiments/veo-app/uv.lock
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel

refactor(v.next): adjustments to qol
  experiments/veo-app/config/portrait_styles.py
  experiments/veo-app/pages/portraits.py
  experiments/veo-app/plans/MOTION_PORTRAITS_REFACTOR_PLAN.md
  experiments/veo-app/requirements.txt
  experiments/veo-app/uv.lock
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel

fix(deps): update github.com/googlecloudplatform/vertex-ai-creative-studio/experiments/mcp-genmedia/mcp-genmedia-go/mcp-common digest to c092e84
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-chirp3-go/go.mod
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-chirp3-go/go.sum
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-imagen-go/go.mod
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-lyria-go/go.mod
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-veo-go/go.mod
Owners: @ghchinoy

feat(encoder): Add in-browser video-to-GIF encoder page
  experiments/veo-app/assets/ffmpeg/ffmpeg-core.js
  experiments/veo-app/assets/ffmpeg/ffmpeg-core.worker.js
  experiments/veo-app/assets/ffmpeg/ffmpeg/package/package.json
  experiments/veo-app/assets/ffmpeg/util/package/package.json
  experiments/veo-app/components/library/__init__.py
  experiments/veo-app/components/library/infinite_scroll_library.js
  experiments/veo-app/components/library/video_chooser_button.py
  experiments/veo-app/components/library/video_infinite_scroll_library.js
  experiments/veo-app/components/library/video_infinite_scroll_library.py
  experiments/veo-app/components/worsfold_encoder/README.md
  experiments/veo-app/components/worsfold_encoder/worsfold_encoder.js
  experiments/veo-app/components/worsfold_encoder/worsfold_encoder.py
  experiments/veo-app/config/portrait_styles.py
  experiments/veo-app/main.py
  experiments/veo-app/pages/imagen.py
  experiments/veo-app/pages/test_index.py
  experiments/veo-app/pages/test_worsfold_encoder.py
  experiments/veo-app/plans/DREAMVVT_WORKFLOW_PLAN.md
  experiments/veo-app/plans/WEB_COMPONENT_INTEGRATION_GUIDE.md
  experiments/veo-app/plans/WORSFOLD_ENCODER_PLAN.md
  experiments/veo-app/test/worsfold_encoder_test/index.html
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel

feat(encoder): Add in-browser video-to-GIF encoder page
  experiments/veo-app/assets/ffmpeg/ffmpeg-core.js
  experiments/veo-app/assets/ffmpeg/ffmpeg-core.worker.js
  experiments/veo-app/assets/ffmpeg/ffmpeg/package/package.json
  experiments/veo-app/assets/ffmpeg/util/package/package.json
  experiments/veo-app/components/library/__init__.py
  experiments/veo-app/components/library/infinite_scroll_library.js
  experiments/veo-app/components/library/video_chooser_button.py
  experiments/veo-app/components/library/video_infinite_scroll_library.js
  experiments/veo-app/components/library/video_infinite_scroll_library.py
  experiments/veo-app/components/worsfold_encoder/README.md
  experiments/veo-app/components/worsfold_encoder/worsfold_encoder.js
  experiments/veo-app/components/worsfold_encoder/worsfold_encoder.py
  experiments/veo-app/config/portrait_styles.py
  experiments/veo-app/main.py
  experiments/veo-app/pages/imagen.py
  experiments/veo-app/pages/test_index.py
  experiments/veo-app/pages/test_worsfold_encoder.py
  experiments/veo-app/plans/DREAMVVT_WORKFLOW_PLAN.md
  experiments/veo-app/plans/WEB_COMPONENT_INTEGRATION_GUIDE.md
  experiments/veo-app/plans/WORSFOLD_ENCODER_PLAN.md
  experiments/veo-app/test/worsfold_encoder_test/index.html
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel

feat(encoder): Implement Save to Library and UI polishing
  experiments/veo-app/components/worsfold_encoder/worsfold_encoder.js
  experiments/veo-app/main.py
  experiments/veo-app/pages/test_worsfold_encoder.py
  experiments/veo-app/plans/WORSFOLD_ENCODER_PLAN.md
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel

feat(encoder): Implement Save to Library and UI polishing
  experiments/veo-app/components/worsfold_encoder/worsfold_encoder.js
  experiments/veo-app/main.py
  experiments/veo-app/pages/test_worsfold_encoder.py
  experiments/veo-app/plans/WORSFOLD_ENCODER_PLAN.md
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel

feat(encoder): Add video-to-GIF encoder and update docs
  experiments/veo-app/developers_guide.md
  experiments/veo-app/main.py
  experiments/veo-app/pages/test_worsfold_encoder.py
  experiments/veo-app/plans/WEB_COMPONENT_INTEGRATION_GUIDE.md
  experiments/veo-app/plans/WORSFOLD_ENCODER_PLAN.md
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel

feat(encoder): Add video-to-GIF encoder and update docs
  experiments/veo-app/developers_guide.md
  experiments/veo-app/main.py
  experiments/veo-app/pages/test_worsfold_encoder.py
  experiments/veo-app/plans/WEB_COMPONENT_INTEGRATION_GUIDE.md
  experiments/veo-app/plans/WORSFOLD_ENCODER_PLAN.md
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel

feat(pixie-compositor): Create foundation for Pixie Compositor
  experiments/veo-app/components/pixie_compositor/README.md
  experiments/veo-app/components/pixie_compositor/pixie_compositor.js
  experiments/veo-app/components/pixie_compositor/pixie_compositor.py
  experiments/veo-app/main.py
  experiments/veo-app/pages/test_index.py
  experiments/veo-app/pages/test_pixie_compositor.py
  experiments/veo-app/plans/PIXIE_COMPOSITOR_PLAN.md
  experiments/veo-app/plans/WORSFOLD_ENCODER_PLAN.md
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel

feat(pixie-compositor): Create foundation for Pixie Compositor
  experiments/veo-app/components/pixie_compositor/README.md
  experiments/veo-app/components/pixie_compositor/pixie_compositor.js
  experiments/veo-app/components/pixie_compositor/pixie_compositor.py
  experiments/veo-app/main.py
  experiments/veo-app/pages/test_index.py
  experiments/veo-app/pages/test_pixie_compositor.py
  experiments/veo-app/plans/PIXIE_COMPOSITOR_PLAN.md
  experiments/veo-app/plans/WORSFOLD_ENCODER_PLAN.md
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel

chore(deps): update dependency mcp to v1.12.4
  experiments/mcp-genmedia/sample-agents/adk/requirements.txt
Owners: @ghchinoy

chore(deps): update dependency mcp to v1.12.4
  experiments/mcp-genmedia/sample-agents/adk/requirements.txt
Owners: @ghchinoy

fix(deps): update module google.golang.org/protobuf to v1.36.7
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-lyria-go/go.mod
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-lyria-go/go.sum
Owners: @ghchinoy

fix(deps): update module google.golang.org/protobuf to v1.36.7
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-lyria-go/go.mod
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-lyria-go/go.sum
Owners: @ghchinoy

chore(deps): update dependency google-api-python-client to v2.178.0
  experiments/arena/requirements.txt
  experiments/mcp-genmedia/sample-agents/adk/requirements.txt
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel

chore(deps): update dependency google-api-python-client to v2.178.0
  experiments/arena/requirements.txt
  experiments/mcp-genmedia/sample-agents/adk/requirements.txt
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel

chore(deps): update dependency google-cloud-aiplatform to v1.108.0
  experiments/arena/requirements.txt
  experiments/mcp-genmedia/sample-agents/adk/requirements.txt
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel

chore(deps): update dependency google-cloud-aiplatform to v1.108.0
  experiments/arena/requirements.txt
  experiments/mcp-genmedia/sample-agents/adk/requirements.txt
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel

fix(deps): update module golang.org/x/text to v0.28.0
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-chirp3-go/go.mod
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-chirp3-go/go.sum
Owners: @ghchinoy
