Repository renovate-bot/GoogleCloudPlatform-_-vertex-ai-creative-studio, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel, @dkashkin, @mandieq, @LUJ20, @cnemri, @PavithraCS25, @WafaeBakkali

fix(deps): update module google.golang.org/grpc to v1.75.0
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-common/go.mod
  experiments/mcp-genmedia/mcp-genmedia-go/mcp-common/go.sum
Owners: @ghchinoy

chore(deps): update dependency google-cloud-aiplatform to v1.110.0
  experiments/veo-genetic-prompt-optimizer/poetry.lock
Owners: @GoogleCloudPlatform/google-cloud-aaie, @cnemri

chore(deps): update dependency google-genai to v1.31.0
  experiments/veo-genetic-prompt-optimizer/poetry.lock
Owners: @GoogleCloudPlatform/google-cloud-aaie, @cnemri

Create README.md
  experiments/VTO/README.md
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel

VTO demo at scale
  experiments/VTO/VTOatScale.ipynb
  experiments/VTO/blue.png
  experiments/VTO/dress.png
  experiments/VTO/green.png
  experiments/VTO/lj_virtual_try_on_streamlit.py
  experiments/VTO/model.png
  experiments/VTO/red.jpg
  experiments/VTO/yellow.png
Owners: @GoogleCloudPlatform/google-cloud-aaie, @ghchinoy, @awaemmanuel

.github/CODEOWNERS:

# Global owner
* @GoogleCloudPlatform/google-cloud-aaie @ghchinoy

## v.next
/experiments/veo-app/ @GoogleCloudPlatform/google-cloud-aaie @ghchinoy @awaemmanuel

# Experiments
/experiments/ @GoogleCloudPlatform/google-cloud-aaie @ghchinoy @awaemmanuel

## MCP Servers for Genmedia
/experiments/mcp-genmedia/ @ghchinoy

## Promptlandia
/experiments/promptlandia/ @ghchinoy @dkashkin

## Babel
/experiments/babel/ @ghchinoy

## Creative Generative Workflow
/experiments/creative-genmedia-workflow/ @GoogleCloudPlatform/google-cloud-aaie @mandieq

## Notebooks
/experiments/Imagen_Product_Recontext/ @GoogleCloudPlatform/google-cloud-aaie @LUJ20

## Veo Optimizer
/experiments/veo-genetic-prompt-optimizer/ @GoogleCloudPlatform/google-cloud-aaie @cnemri

## Character / Item Consistency
/experiments/veo3-character-consistency/ @GoogleCloudPlatform/google-cloud-aaie @cnemri
/experiments/veo3-item-consistency/ @GoogleCloudPlatform/google-cloud-aaie @PavithraCS25

## Arena
/experiments/arena/ @GoogleCloudPlatform/google-cloud-aaie @ghchinoy @awaemmanuel

## VeoStart
/experiments/VeoStart/ @GoogleCloudPlatform/google-cloud-aaie @WafaeBakkali
